<a routerLink="/addmanufacturer" class="btn btn-info">Add Manufacturer</a>
<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let manufacturer of manufacturers">
        <td>
          <span>{{ manufacturer.id }}</span>
          <input type="text" value="{{ manufacturer.id }}" #id hidden>
        </td>
        <td>
          <input type="text" value="{{ manufacturer.name }}" #name [disabled]="!(update == id)">
        </td>
        <td>
          <input type="text" value="{{ manufacturer.address }}" #address [disabled]="!(update == id)">
        </td>
        <td>
          <button (click)="update = update == id ? -1 : id; name.value = manufacturer.name; address.value = manufacturer.address"
                  class="btn btn-info">
            {{update == id ? 'Cancel' : 'Update'}}
          </button>
        </td>
        <td>
          <form (ngSubmit)="onUpdate(id.value, name.value, address.value)">
            <button type="submit" class="btn btn-info" [disabled]="!(update == id)">Save</button>
          </form>
        </td>
        <td>
          <form (ngSubmit)="onDelete(manufacturer.id)">
            <button type="submit" class="btn btn-info">Delete</button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
